/*Woocomerce*/
@media(max-width: 575px){
	li.product.type-product.status-publish.first.instock.product_cat-marketing-digital.has-post-thumbnail.virtual.sold-individually.product-type-simple{
		width: 100%
	}
	select.orderby{
		width: 92vw;
	}
	.woocommerce span.onsale{
		border-radius: 0 0 0 50% ;
	}
	#woo_featured_products ul{
		margin: 0;
	}
	.fa-shopping-cart.fixed-bottom{
		display: none;
	}
	.woocommerce.columns-3 ul::-webkit-scrollbar{
		display: none;
	}
	.support-woo-shortcode .woocommerce {
		margin-top: -110px!important;
	}
}
@media(max-width:768px	){
	.woocommerce div.product .woocommerce-tabs ul.tabs{
		padding: 0 0 0 .3em;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li{
		max-width: 33%;
		font-size: 12px;
	}
}
@media(min-width: 769px){
	.woocommerce ul.products.columns-x li.product, .woocommerce-page ul.products.columns-x li.product {
		width: 31%!important;
	}
	input#coupon_code {
		width: auto;
	}
	.woocommerce-product-details__short-description{
		overflow: auto;
	}
	.woocommerce ul.products li.product .button{
		padding: 15px!important;
	}
	.woocommerce div.product div.summary{
		width: 38%;
		position: sticky;
		position: -webkit-sticky;
		top: 100px;
		border-left:
		1px solid rgba(250,250,250,0.6);
		padding-left: 20px;
		margin-bottom: 0
	}
	.woocommerce-page div.product div.images, .woocommerce-page div.product .woocommerce-tabs, .product section{
		width: 58%;
		clear: none;
	}
	a.button.product_type_variable, a.button.product_type_simple{
		width: 100%;
	}
}
@media (min-width:1200px){
	.woocommerce-product-gallery__image{
		width: 633px!important;
	}
}
div#woo_featured_products .products::-webkit-scrollbar, .support-woo-shortcode::-webkit-scrollbar{
	display: none;
}
.woocommerce div.product div.summary{
	overflow: hidden;
}
/* Support-woo-shortcode */
.product-category.product{
	overflow: hidden;
}
.product-category.product img:hover{
	transform: scale(1.1);
}
.product-category.product h2{
	position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: #26262699;
  width: 100%;
  color: #fff;
	font-size: 25px!important;
}
.product-category.product mark{
	display: none;
}
.support-woo-shortcode .woocommerce {
	margin-top: -180px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
/* Featured product */
.woocommerce ul.products li.product a img{
	margin: 0!important;
}
#woo_featured_products .woocommerce ul, .support-woo-shortcode .woocommerce ul{
	display: -webkit-box;
  display: flex;
  overflow-x: auto;
	-ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
#woo_featured_products .woocommerce ul::-webkit-scrollbar, .support-woo-shortcode .woocommerce ul::-webkit-scrollbar{
	height: 10px;
}
#woo_featured_products .woocommerce ul.products li.product, .support-woo-shortcode .woocommerce ul.products li.product{
	scroll-snap-align: start;
  flex-shrink: 0;
  width: 70vw;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(1);
  transform: scale(1);
  position: relative;
  display: -webkit-box;
}
li.product, li.product .button{
	border:1px solid #00000022!important;
}
.woocommerce ul.products li.product{
	clear: none;
	margin: 1%!important;
}
.woocommerce ul.products li.product .button{
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
}
.woocommerce ul.products li.product .price{
	margin-bottom: 65px;
}
li.product.type-product{
	text-align: center;
}
.woocommerce ul.products li.product .price del {
  display: block;
}
del bdi:before {
  content: 'Antes: ';
}
/*  */
select.orderby{
	border: none;
	background: #eee;
	padding: 9px;
}
.woocommerce-MyAccount-navigation{
	text-align:left
}
nav.woocommerce-MyAccount-navigation ul{
	padding-left:0
}
nav.woocommerce{
	background:0 0!important
}
.woocommerce-MyAccount-navigation-link{
	display:block;
	padding:.5em 1em;
	font-weight:700;
	margin-right:.5rem!important;
	margin-left:.5rem!important;
	color:#888!important;
	text-decoration:none;
	border:1px rgba(255,255,255,.1) solid
}
.woocommerce-MyAccount-navigation-link a{
	margin-right:.5rem!important;
	margin-left:.5rem!important;
	color:#888!important;
	text-decoration:none
}
.woocommerce-MyAccount-navigation-link:focus,.woocommerce-MyAccount-navigation-link:hover{
	filter:brightness(.8);
	border:1px #fff solid;
	border-radius:5px;
}
.woocommerce-Address{
	width:100%!important
}
.MyAccoun-content{
	text-align:left
}
.reset_variations{
	display:inline-block;
	font-weight:400;
	line-height:1.25;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	border:1px solid transparent;
	padding:.5rem 1rem;
	font-size:1rem;
	border-radius:.25rem;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;
	margin-top:15px
}
.reset_variations:focus,.reset_variations:hover{
	text-decoration:none;
	outline:0;
	-webkit-box-shadow:0 0 0 2px rgba(2,117,216,.25);
	box-shadow:0 0 0 2px rgba(2,117,216,.25);
}
table.variations{
	box-shadow:none
}
span.woocommerce-input-wrapper{
	width: 100%;
}
.woo-counter-cart-number, .woo-counter-cart-number-desktop{
	position: absolute;
	top:0;
	font-family: sans-serif;
	min-width: 18px;
	padding: 2px;
	}
.woo-counter-cart-number{
	margin-left: 15px;
}
.woo-counter-cart-number-desktop{
	right:-25px;
	top:-5px;
	color: #262626;
	min-width: 25px;
}
.fa-shopping-cart.fixed-bottom{
	transition:padding 1s;
	box-shadow: 0 5px 13px rgba(0, 0, 0, 0.6);
	margin-left:0px;
	color:#fff!important;
	background: #262626;
	border-radius: 50%;
	width: 81px;
	bottom:-3px;
	transform: scale(0.7);
}
.fa-shopping-cart.fixed-bottom:before{
	margin-left: -5px
}
.woocommerce a.added_to_cart{
	color: #555!important;
	padding: 3px;
}
.woocommerce-account .woocommerce-MyAccount-navigation{
	background: #eee;
	text-align: center;
}
figcaption::-webkit-scrollbar{
	display: none;
}
.woocommerce div.product form.cart div.quantity{
	width: 100%;
}
.woocommerce .quantity .qty{
	width: 100%!important;
}
.star-rating{
	margin-left: auto!important;
	margin-right: auto!important;
}
.woocommerce .star-rating::before, .woocommerce .star-rating span::before{
	width: 100%;
}
.woocommerce-product-gallery.woocommerce-product-gallery--with-images img{
	box-shadow: none!important
}
.woocommerce div.product p.price{
	font-size: 1.6em!important
}
td.product-name a {
	color: #fff;
}
li.product.type-product.status-publish.first.instock.product_cat-marketing-digital.has-post-thumbnail.virtual.sold-individually.product-type-simple
a.button.product_type_simple{
	width:90% ;
}
a.checkout-button.button.alt.wc-forward {
	width: 100%;
	margin: auto;
}
.woocommerce-privacy-policy-text {
	color: #000;
}
.summary.entry-summary p.price {
	padding: 0;
	overflow:auto;
}
.summary .price del span bdi {
  font-size: 26px;
}
.summary.entry-summary p.price .amount{
	margin-left:.5em;
	margin-right:.5em;
}
a.button.wc-forward{
	text-align:center;
	order:2;
	width:100%;
}
.woocommerce-variation.single_variation{
	text-align:center;
	font-size:40px;
}
a.faded.shipping-calculator-button {
	color: #515151!important;
	background-color: #ebe9eb;
	padding: .618em 1em;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
}
li.wc_payment_method.payment_method_cod{
	color:#000;
}
.woocommerce ul.order_details li {
	border-right: none!important;
}
.cart_totals ul, .cart_totals p, .cart_totals form, .cart_totals li, .cart_totals a {
	animation-name: empFadeIn;
	animation-duration: .5s;
	opacity: 1!important;
}
span.woocommerce-terms-and-conditions-checkbox-text {
	color: #000;
}
nav.woocommerce-MyAccount-navigation{
	display:none;
}
.woocommerce-MyAccount-content{
	width:100%!important;
}
.woocommerce-MyAccount-content a{
	text-decoration:underline;
}
a.woocommerce-button.button.view {
	color: #262626!important;
}
a.button.product_type_variable, a.button.product_type_simple.add_to_cart_button,a.button.product_type_simple{
	font-size:15px!important;
}
img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail{
	padding:5px;
}
ol.flex-control-nav.flex-control-thumbs img {
    border-radius: 0!important;
}
li.wc_payment_method.payment_method_woo-mercado-pago-basic{
	color:#000;
}
.cart_totals, .cart_totals h2, .cart_totals div, .cart_totals ul, .cart_totals li, .cart_totals a, .cart_totals table {
	-khtml-opacity: 1!important;
	opacity: 1!important;
	-khtml-animation-name: empFadeIn -khtml-animation-duration: .5s;
	-webkit-animation-name: empFadeIn;
	-webkit-animation-duration: .5s;
	animation-name: empFadeIn;
	animation-duration: .5s;
}
a.button.add_to_cart_button{
	width:100%;
}
a.added_to_cart.wc-forward {
	opacity: 1;
}
p.stock.available-on-backorder {
	font-size: 48px!important;
}
li#tab-title-description.active a {
	color: #000!important;
}
.form-row.place-order a {
	color: #007bff!important;
}
a.button.wc-backward {
	color: #000!important;
}
h2.woocommerce-loop-category__title{
	text-align: center;
}
.woocommerce label{
	padding:0;
}
.post-type-archive-product article{
	display: grid;
}
.post-type-archive-product .woocommerce-product-search{
	display: block;
	order: 3;
	height: 100px
}
.woocommerce-product-search input, .woocommerce-product-search button{
	height: 60%;
	cursor: pointer;
}
.post-type-archive-product .page-title{
	order: 1
}
.woocommerce-ordering, .woocommerce-result-count{
	display: inherit;
	order: 2;
}
.post-type-archive-product .products{
	order: 4;
}
.woocommerce-product-search{
	display: none;
}
.woocommerce-product-search button{
	background: #ddd;
	border: 1px;
	padding: 6px;
	width: 23%;
}
.woocommerce div.product form.cart .button{
  width: 100%;
}
.comment-form-rating label {
    padding: 0px 18px;
}
/*Contact form 7*/
.comment-form input{width: 100%}.wpcf7-submit, #submit.submit{border:2px solid transparent;padding: 10px;border-radius: 5px;width: 100%}.wpcf7-form{padding:0;max-width:600px}form.wpcf7-form{width:100%;padding-left:0;padding-top:0;padding-bottom:0;margin-right:auto;margin-left:auto}p label{width:100%;margin-right:auto;margin-left:auto}.wpcf7-form-control{width:100%;margin-right:auto;margin-left:auto}select{border: 1px solid #aaa;padding: 7px;background: #fff;}
