.sfpo-table{
  border:none;width:100%
}
.sfpo-table thead th{
  border:none!important;padding:1rem .5rem
}
.sfpo-table tr:hover{
  background:rgba(250,250,250,.2)
}
.sfpo-table td,.sfpo-table th{
  border:none;
  padding:20px 10px;
  text-align:center
}
.sfpo-table td{
  border-bottom:none;
  border-left:1px solid rgba(250,250,250,.3);
  border-right:none;
  border-top:none;
  padding:1px
}
tr.sfpo-links{
  background:0 0!important
}
.sfpo-links-th{
  background:0 0!important;
  box-shadow:none!important;
  padding:60px 0!important
}
.sfpo-links td{
  border:none;
  padding:3px!important
}
.sfpo-links a{
  display:inline-block;font-size:1rem;
  font-weight:400;
  line-height:1.5;
  margin-left:auto;
  margin-right:auto;
  padding:.375rem .375rem;
  text-align:center;
  text-decoration:none;
  user-select:none;
  vertical-align:middle;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width:100%;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none
}
.overflow-x-auto{
  overflow-x:auto
}
.w-20{
  width:20%
}
@media(max-width:567px){
  .sfpo-links a,.sfpo-table tbody th,.sfpo-table td,.sfpo-table thead th{
    font-size:11px!important
  }
}
