/* Block styles */
.ip-block div.circle{
	background: #ffffff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.ip-block div.text-gray {
	color: #cccccc;
}
.ip-block div.text-gray strong{
	color: #ffffff!important;
}
 .ip-block div.imagen-combo {
    position: absolute;
    left: 50%;
    width: 100px;
    height: 100px;
		transform: translate(-50%);
}
@media(max-width:575px){
  .ip-block div.col.text{
    max-width: 65%!important;
  }
	.ip-block div.imagen-combo{
	    transform: translate(50%)!important;
	}
	.ip-block.is-style-ip-style div.imagen-combo{
	    transform: translate(-150%)!important;
	}
}
.ip-block div.number {
    position: absolute;
}
.ip-block div.number-item {
    color: #000000;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 6;
    text-align: center;
    font-size: 63px;
    overflow: hidden;
}
.ip-block div.list-item {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100px;
}

.ip-block div .col.text {
    padding-right: 10%;
		text-align: right;
    max-width: 50%;
}
.ip-block.is-style-ip-style div.col.text {
    padding-left: 10%;
		text-align: left;
		margin-left: auto;
    max-width: 50%;
}
@media(min-width: 576px){
  .ip-block div.line {
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    height: 160px;
    width: 4px;
  }
}
